@font-face {
    font-family: iCiel;
    src: url(../fonts/iCielSoupofJustice.ttf);
}

body{font-family: 'Roboto';}
.fs14{font-size: 14px;}
.fs40{font-size: 40px;}
.cl-green{color: #260062;}
#topNav{color: #260062;}
#topNav a{color: #260062;}
.menu-top1 li{padding-left: 15px;}
.menu-top1 li:first-child{padding-left: 0px;}
.menu-top2 li{padding-right: 10px;}
.menu-top2 li:first-child{padding-right: 0px;}
.select-top{border: none; background: #6dccfd;}
.main-menu ul{font-family: iCiel;}

.main-menu ul li a{text-transform: uppercase; font-size: 16px;}
.main-menu ul li:nth-child(1) a{color: #e3a037;}
.main-menu ul li:nth-child(2) a{color: #eb4f56;}
.main-menu ul li:nth-child(3) a{color: #ac61ec;}
.main-menu ul li:nth-child(4) a{color: #19c3c1;}
.main-menu ul li:nth-child(5) a{color: #ad2e91;}
.main-menu ul li:nth-child(6) a{color: #73b84e;}
.main-menu ul li:nth-child(7) a{color: #fac625;}
.main-menu ul li:nth-child(8) a{color: #648deb;}
.heading{font-family: 'iCiel'; color: #231e60; text-transform: uppercase; font-size: 40px;}
.full{float: left; width: 100%;}
.footer-bottom{background: #17181a; color: #7b9f8c; padding: 12px;}
.footer-text{color: white; font-size: 15px; padding: 50px 0px; line-height: 28px;}
.mt-40{margin-top: 40px;}
.footer-gradient{background: #096691;}
.header{background: #6dccfd;}
.relative{position: relative;}
.absolute{position: absolute;}
.top20{top: 20px; font-size: 16px; font-weight: bold; color: white; font-family: 'Roboto'; text-transform: uppercase;}
.text-mega{top: 10px; font-size: 14px; color: white; font-family: 'Roboto';}
#tonghop, #ontienganh{background: #1c439a;}
#thithu{background: #f6b746;}
#practice{background: linear-gradient(#e0fcf5, #f3f3b3);}
.bg5{background: url(../images/background5.png) no-repeat;
    background-size: cover;}
.box-practice{width: 100%; float: left; padding: 15px;}
.language{font-size: 18px; font-family: 'iCiel'; text-transform: uppercase; z-index: 99; color: #231e60; top: 50%; right: 21%;}
.language span {
    margin-right: 20px;
    cursor: pointer;
}
.language-xs{font-size: 12px; font-family: 'iCiel'; text-transform: uppercase; z-index: 99; color: #231e60; top: 40%; right: 12%;}
.language-xs img{max-width: 20px;}
.language-xs span {
    cursor: pointer;
}
.ltth{font-size: 18px; border-radius: 30px; background: #3db4ff !important;box-shadow: 0px 3px 0px #11337e;}
.ltth:hover{box-shadow: none;}
.lesson{font-size: 16px; border-radius: 30px; background: #3db4ff;box-shadow: 0px 3px 0px #007bff;}
.lesson.active{background: #007bff !important; border: 1px solid #007bff !important;}
.lesson:hover{box-shadow: none; background: #007bff;}
.head-box{border-radius: 5px 5px 0px 0px; font-size: 18px; font-weight: bold; text-transform: uppercase; color: #2d2d2d; background: #ffdfa5; padding: 15px 3px;}
.box-body{font-size: 16px; padding: 10px 0px;}
.box-body a{color: #2d2d2d; display: block; margin-bottom: 15px; }
.box-thithu{width: 100%; float: left; margin-bottom: 15px; border-radius: 5px; box-shadow: 0px 5px 0px #ca8f13;}
.readall{font-size: 18px; font-weight: bold; text-transform: uppercase; padding: 20px 40px;}
.bg3{background: url(../images/background3.png) no-repeat; background-size: cover; padding: 80px 0px;}
.box-tdn{width: 100%; float: left; margin-bottom: 15px; border-radius: 5px; box-shadow: 0px 5px 0px #c91a2a;}
.head-tdn{border-radius: 5px 5px 0px 0px; font-size: 18px; font-weight: bold; text-transform: uppercase; color: #2d2d2d; background: #ffc7cc; padding: 15px 3px;}
.bg4{background: url('../images/background4.png') no-repeat; background-size: cover; padding: 60px;}
.input{background: transparent; border: 2px solid white; border-radius: 20px; color: white;}
.input::placeholder {
  color: white;
}
.fs29{font-size: 29px;}
.dangki{width: 200px; margin-top: 15px; border-radius: 20px; font-size: 18px; color: #567e25; background: white; font-weight: bold; text-transform: uppercase; border:none;}
.box-hocphi{background: white; border-radius: 10px; box-shadow: 0px 5px 0px #567e25; font-size: 19px; color: #567e25; text-transform: uppercase; font-weight: bold;}
.hocphi{padding: 30px;}
.buynow{display: block; border-top: 1px dotted #ec2f3f; font-size: 32px; text-transform: uppercase;font-family: 'iCiel'; padding: 10px; color: #567e25;}
.link-footer{margin-top: 75px;}
.link-footer a{display: block; color: white; font-weight: bold; font-size: 17px; margin-bottom: 15px;}
.thumbnail {
    border-radius: 5px !important;
    padding: 15px;
    min-height: 238px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 1px 1px #cccccc;
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.fa-sort-down:before, .fa-sort-desc:before {
    content: "\f0dd";
}
.care {
    bottom: -30px;
    left: 20px;
    font-size: 90px;
    color: white;
}
.media {
    margin-top: 15px;
}
.media-left{
	padding-right: 10px;
}
.fs28 {
    font-size: 28px;
}
.fff223 {
    color: #fff223;
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.img-circle {
    border-radius: 50%;
}
.white{color: white;}
.practice{background: #6dccfd;}
.redirect {
    color: #120d4e;
    font-weight: bold;
    font-size: 18px;
}
.menu-practice li{ background: #cad449;  }
.redirect a{color: #120d4e;}
.vocabulary a, .menu-practice a{color: #120d4e;}
.main-shadow{
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 15px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 2px 15px -1px rgba(0,0,0,0.5);
    box-shadow: -1px 2px 15px -1px rgba(0,0,0,0.5);
    background: white;
}
.vocabulary .list-group-item:first-child, .menu-practice .list-group-item:first-child{border-radius: 0px !important;}
.menu-practice ul li {background: white;}
.menu-practice ul li:last-child{border-radius: 0px !important;}
.title-pr{    font-size: 18px;
    font-family: iCiel;}
.vocabulary li{ border: 1px solid #9bcffe !important;}
.title{font-size: 18px; font-family: 'iCiel'; background: #007bff; color: white; padding: 11px; border-radius: 5px 5px 0px 0px;}
.name-detail {
    font-family: 'iCiel';
    font-size: 22px;
    color: rgb(18, 13, 78);
    margin: 15px 0px 5px 0px;
}
.time {
    width: 160px;
    text-align: center;
    background: rgb(220, 166, 21);
    border-width: 5px;
    border-style: solid;
    border-color: rgb(247, 188, 29);
    border-image: initial;
    border-radius: 5px;
    margin: 0px auto;
    margin-bottom: 15px;
}
.num-time {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
}
.item{float: left; width: 100%}
.stt {
    background: #c1e5f5;
    color: #120d4e;
    border-radius: 5px;
    border: none;
    padding: 6px 20px;
    float: left;
}
.ptnn-title {
    color: #120d4e !important;
    font-weight: normal !important;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    font-size: 18px;
}
.nobel-list-md {
    clear: both;
    display: block;
    margin: 0;
    padding: 15px 0;
    position: relative;
}
.choice {
    color: #120d4e !important;
    font-size: 18px !important;
    padding-bottom: 30px !important;
}
input[type=radio], input[type=checkbox]{
    margin-top: 6px;
}
.ptnn-title img {
    margin: 0px auto !important;
}
.top10 {
    margin-top: 10px;
}
.volume {
    background: #c1e5f5;
    color: #120d4e;
    margin-left: 10px;
    border: none;
}
.hidden{display: none;}
.pl10{padding-left: 10px;}
.lygiai{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.line-question {
    height: 2px;
    float: left;
    background: #c1e5f5;
    width: 80%;
    margin: 0px 10% 30px 10%;
}
.btt-practice {
    border: none;
    color: white;
    background: #eeda1b !important;
    font-size: 18px;
}
.menu-test {
    padding: 0px;
    height: 725px;
    overflow-y: auto;
}
.menu-test li {
    float: left;
    width: 100%;
    list-style: none;
    background: #9bcffe;
    color: #120d4e;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
.menu-test li .child-menu-test {
    float: left;
    width: 100%;
    padding: 0px;
}
.menu-test li .child-menu-test li {
    float: left;
    padding: 10px 0px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    background: white;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #9bcffe;
}
.menu-test li .child-menu-test li a {
    color: #120d4e;
}
.child-menu-test li a.active {
    font-weight: bold;
    text-decoration: underline;
}

.menu-test li b {
    padding: 10px 0px;
    float: left;
    width: 100%;
}
.guide{font-size: 26px; font-weight: bold; color: #69431f; padding-top: 70px;}
.guide .fa-star{color: #f8af08;}
#myTab{background: #5bc0de; border-radius: 5px;}
#myTab a {color: white;}
#myTab a.active{ color: #495057; }
.label-danger {
    background-color: #d9534f;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.box-document{background-color: #eeeeee; font-size: 14px;}
.box-document img{width: 51px; display: block;
    margin-right: auto;
    margin-left: auto;}
.bdbot {
    
    border-bottom: 1px solid #BBDDC5;
    font-size: 14px;
}
.right-img{width: 51px;}
.menu-git{cursor: pointer;}
.menu-git:hover{background: #ffc107 !important;}
.timhieu{top: 65%; right: 30%;}
.timhieu2{top: 70%; right: 25%;}
.btmn{top: 28%; right: 45%;}
.btmn2{top: 28%; right: 40%;}
.btdk{bottom: 27%; left: 20%;}
.btdk2{bottom: 20%; left: 12%;}
.bg-cloud{background: #e0fcf5;}
.text-lta{font-family: roboto;font-size: 14px !important;text-transform: initial !important; color: white !important;}
.w20p{width: 18%; margin: 0px 1%; float: left;}

@media (min-width: 768px) {
	.navbar-brand{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }
    .mega{min-width: 650px;}
    .main-menu ul li{padding-left: 22px;}
	.main-menu ul li:nth-child(1){padding-left: 0px;}
    .main-menu{border-radius: 40px;}
    .box-practice{width: 20%; float: left; padding: 15px;}
    .box-thithu{width: 18%; float: left; margin: 15px 1%; border-radius: 5px; box-shadow: 0px 5px 0px #ca8f13;}
    .box-tdn{width: 18%; float: left; margin: 15px 1%; border-radius: 5px; box-shadow: 0px 5px 0px #c91a2a;}
}

@media (max-width: 400px) {
    .mega{min-width: 320px;}
}